.storylink {font-family: Lato; font-size: 18px; font-style: normal; font-variant: normal; font-weight: 500; line-height: 18px; }
.rank   { display: none; }
.spacer {height:18px; }
.votearrow { display: none; }
body{ background-color:#f6f6ef}
